
::-moz-selection { /* Code for Firefox */
    color: #ffe873;
    background: #306998;
}

::selection {
color: #ffe873;
background: #306998;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* The sidebar menu */
#nav-bar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 24vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
#nav-bar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

#nav-bar li {
    list-style: none;
}

/* When you mouse over the navigation links, change their color */
#nav-bar a:hover {
    color: #f1f1f1; 
}

/* Style page content */
#main-doc {
    margin-left: 24vw; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.nav-link {
    border-bottom: 2px solid rgb(66, 66, 66);
}

header {
    display: block;
    color: #fff;
    padding-left: 20px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 3vmin;
}

section h2 {
    font-size: 2vw;
    text-decoration: underline dotted 2px;
}

#note {
    font-style: italic;
    background-color: #9abfdd;
    padding: 10px;
    border-left: 4px solid #306998;
}

a {
    color: #3a82bd;
    text-decoration: underline 2px;
}

#top-button {
    position: fixed;
    z-index: 1;
    right: 6vw;
    bottom: 10vh;
    color: #05345a;
}



/* Now, let's create version for mobile */

@media (max-width: 1200px) {
    #main-doc {
        margin: 30vh auto 0 auto;
    }
    #nav-bar {
        width: 100%;
        height: 20vh;
    }
    pre {
        overflow: scroll;
        overflow-y: hidden;
    }
    section h2 {
        font-size: 40px;
    }
}


pre {
    background-color: rgb(41, 40, 40);
    color: rgb(250, 162, 0);
    font-size: 1rem;
    border-radius: 10px;
}

#Official_Python {
    margin-bottom: 10vh;
}

